---

---

<div class="container">
    <slot />
</div>

<style lang="scss">
    .container {
        padding: 0 24px;

        @media (min-width: 1024px) {
            padding: 0;
        }
    }
</style>