---
import transformMobile from '../images/mobile/image-transform.jpg';
import transformDesktop from '../images/desktop/image-transform.jpg';
import standOutMobile from '../images/mobile/image-stand-out.jpg';
import standOutDesktop from '../images/desktop/image-stand-out.jpg';
import designMobile from '../images/mobile/image-graphic-design.jpg';
import designDesktop from '../images/desktop/image-graphic-design.jpg';
import photoMobile from '../images/mobile/image-photography.jpg';
import photoDesktop from '../images/desktop/image-photography.jpg';


const sideBySideData = [
    {
        imageMobile: transformMobile,
        imageDesktop: transformDesktop,
        title: 'Transform your brand',
        description: 'We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.',
        theme: 'yellow'
    },
    {
        imageMobile: standOutMobile,
        imageDesktop: standOutDesktop,
        title: 'Stand out to the right audience',
        description: 'Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.',
        theme: 'red'
    }
];

const onTopData = [
    {
        imageMobile: designMobile,
        imageDesktop: designDesktop,
        title: 'Graphic Design',
        description: 'Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.',
        theme: 'green'
    },
    {
        imageMobile: photoMobile,
        imageDesktop: photoDesktop,
        title: 'Photography',
        description: 'Increase your credibility by getting the most stunning, high-quality photos that improve your business image.',
        theme: 'blue'
    }
]

import TextNextToImage from './TextNextToImage.astro';
import TextOnImage from './TextOnImage.astro';
---

<section class="offer">
    <div class="offer__primary">
        {sideBySideData.map(item => (
            <TextNextToImage {...item} />
        ))}
    </div>
    <div class="offer__secondary">
        {onTopData.map(item => (
            <TextOnImage {...item} />
        ))}
    </div>
</section>

<style lang="scss">
    @media (min-width: 720px) {
        .offer__secondary {
            display: flex;
        }
    }
</style>